@{
    ViewBag.Title = "Portfolio band";
}

<!-- Navigation -->
<a class="menu-toggle rounded" href="#">
  <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a class="js-scroll-trigger" href="~/Home">KAVёr</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#corporate">Корпоративы</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#festian">Фестивали</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#streaming">Трансляции</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#imrovization">Половичок</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#other">Прочее</a>
    </li> 
  </ul>
</nav>

<!-- Header -->
<!-- Photo by Mikhail Vasilyev on Unsplash -->
<header class="portfoliomasthead text-center text-white">
  <div class="portfoliomasthead-content">
    <div class="container">
        <h1 class="portfoliomasthead-heading"></h1>
        <h2 class="portfoliomasthead-subheading mb-0">Творческие изыскания</h2>
    </div>
  </div>
</header> 

<!-- About -->
<section>
  <div class="container" id="womenvocal">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="~/Contents/img/about/womenvocal.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Ксения Кораблина</h2>
          <p>Жемчужина нашей группы. Бесподобный тембр, сильный голос, непревзойдённые чувство юмора и харизма поразят ваше воображение.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container" id="manvocal">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="~/Contents/img/about/manvocal.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Сергей Васильев</h2>
          <p>Брутальный бородатый вокалист своим тенером заставит трепетать ваши уши.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container" id="keysvocal">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="~/Contents/img/about/keysvocal.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Дмитрий Латохин</h2>
          <p>Джазовые импровизации при любом удобном случае и желание постоянно общаться баритоном помогут вам по-настоящему расслабиться.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container" id="bass">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="~/Contents/img/about/bass.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Сергей Сидоров</h2>
          <p>Обоятельный, яркий и драйвовый, с элементами роскоши басс проникнет глубоко в ваши тела.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container" id="rythmguitar">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="~/Contents/img/about/rythmguitar.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Денис Грабанюк</h2>
          <p>Мощный звук гитары с чётким ритмом и неотразимая внешность покорят вас.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container" id="sologuitar">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="~/Contents/img/about/sologuitar.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Олег Пелипенко</h2>
          <p>Магические звуки гитарных партий соло и блаженный вид способны ввести вас в транс.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container" id="drummer">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="~/Contents/img/about/drummer.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Андрей Бронин</h2>
          <p>Мотор нашей группы - блестящий, мощный и слаженный, чей ритм заставит вас биться в экстазе вместе с нами.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Callout -->
<section class="calloutabout" id="others">
  <div class="container text-center text-white">
    <h2 class="mx-auto mb-5">Наши друзья</h2>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="~/Contents/img/about/barkov.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Евгений Барков</h2>
          <p>Золотой сакс в нашем коллективе с запоминающимися соло, периодически вносит звуковое разнообразие.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container" >
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="~/Contents/img/about/savin.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Александр Савин</h2>
          <p>Звонкий и харизматичный тенер приходил к нам на помощь, добавляя выступлениям особый шарм.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Scroll to Top Button -->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
  <i class="fa fa-angle-up"></i>
</a>