@{
    ViewBag.Title = "Cover band";
}


<!-- Navigation -->
<a class="menu-toggle rounded" href="#">
    <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="#page-top">KAVёr</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="~/About/">О нас</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="~/portfolio/">Портфолио</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#party">Мероприятия</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#contacts">Контакты</a>
        </li>
    </ul>
</nav>

<!-- Header -->
<!-- Photo by Mikhail Vasilyev on Unsplash -->
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Группа KAVёr</h1>
            <h2 class="masthead-subheading mb-0">Непредсказуемые узоры мелодий</h2>
            <br />
            <a href="#about" class="btn btn-primary btn-xl rounded-pill mt-5 js-scroll-trigger">Знакомимся</a>
        </div>
    </div>
</header>

<!-- About -->
<section>
    <div class="container" id="about">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/Contents/img/home/01.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Много звуков</h2>
                    <p>Кавер-бэнд вмещает 7 основных участников, самоотверженно извлекающих звуки со сцены.</p>
                    <a class="btn btn-dark btn-xl js-scroll-trigger" href="~/About/">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/Contents/img/home/02.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Раскачаем</h2>
                    <p>Любые прихоти зрителей удовлетворятся в строгих рамках программы выступления, ведь её многогранность - наша фишечка.</p>
                    <a class="btn btn-dark btn-xl js-scroll-trigger" href="~/Contents/docs/KAVer_Set_Full_03_2018.docx">Сет-лист</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/Contents/img/home/03.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Будь с нами</h2>
                    <p>Смотри и слушай примеры нашего творчества ниже в портфолио или подписывайся на наши каналы в социальных сетях.</p>
                    <a class="btn btn-dark btn-xl js-scroll-trigger" href="#contacts">Подписаться</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio -->
<section class="content-section" id="portfolio">
    <div class="container">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Портфолио</h3>
            <h2 class="mb-5">Наше творчество</h2>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6">
                <a class="portfolio-item js-scroll-trigger" href="~/portfolio/#corporate">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>Корпоративы</h2>
                            <p class="mb-0">Любимая летняя площадка - большая сцена с мощным звуком в день рождения "Лаборатории Касперского"</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="~/Contents/img/home/portfolio-1.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item js-scroll-trigger" href="~/portfolio/#festian">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>Фестивали</h2>
                            <p class="mb-0">Прекрасная дружественная атмосфера манит нашу группу - яркими примерами служат RockAroundTheK и ITFest</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="~/Contents/img/home/portfolio-2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item js-scroll-trigger" href="~/portfolio/#streaming">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>Репетиции</h2>
                            <p class="mb-0">Экспериментируем с живыми трансляциями из нашего цеха</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="~/Contents/img/home/portfolio-3.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item js-scroll-trigger" href="~/portfolio/#improvization">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>Половичок</h2>
                            <p class="mb-0">С огромным удовольствием небольшими частями группы формируем мини-бэнды под небольшие мероприятия</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="~/Contents/img/home/portfolio-4.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Party -->
<section class="content-section bg-primary text-white text-center" id="party">
    <div class="container">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0">Понравились?</h3>
            <h2 class="mb-5">Можем обсудить выступление</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-mustache"></i>
                </span>
                <h4>
                    <strong>Актуальное</strong>
                </h4>
                <p class="text-faded mb-0">Узнай о мероприятиях с нашим участием в социальных сетях</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-pencil"></i>
                </span>
                <h4>
                    <strong>Райдер</strong>
                </h4>
                <p class="text-faded mb-0">Что нам нужно для выступления?</p>
                <a href="~/Contents/docs/KAVer_TechRider_General.docx" class="btn btn-primary rounded-pill mt-1">Посмотреть</a>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-screen-smartphone"></i>
                </span>
                <h4>
                    <strong>Свяжемся</strong>
                </h4>
                <p class="text-faded mb-0">Воспользуйся контактами из райдера или пиши в директ после подписки</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-like"></i>
                </span>
                <h4>
                    <strong>Наслаждение</strong>
                </h4>
                <p class="text-faded mb-0">
                    Генерируем хорошее настроение на выступлении изо всех сил
                    <i class="fa fa-heart"></i>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>